/*Titulos*/
.Titulo{
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    border: double rgb(183, 2, 255);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.678);
    font-family: Arial, Helvetica, sans-serif;
}

.Titulo2{
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    border: double rgb(183, 2, 255);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.616);
    font-family: Arial, Helvetica, sans-serif;

}
span{
    color: slateblue;
}

.colorP{
    background-color:rgba(0, 0, 0, 0.445);
    border: double rgba(183, 2, 255);
}

.letra{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 10px;

    
}
.colorF{
    background-color: rgba(0, 0, 0, 0.692);
    border: double rgb(183, 2, 255);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;

    margin-top: 10px;
    margin-bottom: 10px;
}
.centrado{
    	text-align: center;
        align-items: center;
}

label{
    color: aliceblue;
    margin-top: 25px;
}
